{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style>
		.jumbotron{
				background-color:#128EF5;
				color:#ffffff;
			}

		</style>
		<div class="jumbotron">
            <h1 class="jump">Developement Team</h1>

        </div>
		<div class ="container-fluid">

		</div>

<div class="container-fluid">
<div class="row">

<table class="table table-stripes table-hover">
  <thead>
    <tr>
      <th scope="col">Serial No.</th>
      <th scope="col">Name</th>
      <th scope="col">Student ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Fabio Ribeiro Santiago</td>
      <td>104934797</td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Sarath Pulikkal</td>
      <td>105099194</td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Munish</td>
      <td>105146209</td>

    </tr>
  </tbody>
</table>
</div>
</div>



{% endblock content %}


{% block footer%}
{{ block.super }}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-bottom" style="background-color:black;">
<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-bottom">-->
    <div class="container justify-content-center">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Project Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock footer%}
