{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style>
		.jumbotron{
				background-color:#128EF5;
				color:#ffffff;
			}

		</style>
		<div class="jumbotron">
            <h1 class="jump" color=blue>Welcome!</h1>
            <p class="lead">Tae  Kwon  Do (also known as Taekwondo) is the art of self defense that originated in Korea. It is recognized as one of the oldest forms of martial arts in the world, reaching back over 2,000 years. The name was selected for its appropriate description of the art: Tae  (foot), Kwon  (hand), Do  (art).</p>
        </div>

<div class="container-fluid">
<div class="row">
<div class="col-sm-8">
<h2> What is Taekwondo?</h2>
<p>
“Tae” refers to the legs and lower torso, which provide the force necessary to do the hopping, jumping, and flying kicks that Taekwondo is famous for. The lower torso is also where the center of balance for the body is located.

“Kwon,” as with “Tae”, means more than just “striking with hands.” It refers to the upper body and arms as well. Finger tips, wrists, fists and elbows are also used to strike with. An inherent part of the term “Kwon” also means defense. It is the complement of attack or strike and must be explored in order to learn balance of form and technique.

“Do” means “the way.” This is the domain of the mind and indicates that more is involved than just training the body. It is not enough for the practitioner to become proficient in just the physical aspects of the art; his mind and body must work together in harmony, embodying the spirit of oneness.
</p>
</div>
<div class="col-sm-4">
<img src="{% static "images/main.jpg"%}" alt="Image cannot be found">
</div>
</div>
</div>

{% endblock content %}


{% block footer%}
{{ block.super }}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-bottom" style="background-color:black;">
<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-bottom">-->
    <div class="container justify-content-center">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about_us' %}">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Terms and conditions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock footer%}
