{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1 class="jump">Taekonline - Advanced Databases Project</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
            <h6>The scope of the project can be defined as follows:<br>
                1. Allows user to keep track of current as well as previous students<br>
                2. Allows to register new students<br>
                3. Keep track of the guardians and the emergency contact<br>
                4. Allows store owner to keep track of the inventory of the accessories <br>
            </h6>
    </div>
</div>
<div class="row">
        <div class="col-md-12">
        <h2>Development Team</h2>
        <table class="table table-stripes table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Student ID</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Fabio Ribeiro Santiago</td>
              <td>104934797</td>
             
            </tr>
            <tr>
              <td>Sarath Pulikkal</td>
              <td>105099194</td>
              
            </tr>
            <tr>
              <td>Munish</td>
              <td>105146209</td>
              
            </tr>
          </tbody>
        </table>
        </div>
</div>
{% endblock content %}


{% block footer%}
{{ block.super }}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-bottom" style="background-color:black;">
<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-bottom">-->
    <div class="container justify-content-center">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Terms and conditions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock footer%}