{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load static %}

{% block extrahead %}
<script>
$(document).ready(function() {
    $('#student_table').DataTable();
} );
$(document).ready(function() {

    var date = new Date();

    if (!$("#id_exam_date").val()) {
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;       
        $("#id_exam_date").attr("value", today);
    }

    if (!$("#id_exam_time").val()) {
        var hour = date.getHours();
        var minutes = date.getMinutes();
        if(hour < 10) hour = '0' + hour; 
        if(minutes < 10) minutes = '0' + minutes; 
        var now = hour + ":" + minutes;
        $("#id_exam_time").attr("value", now);
    }
});
</script>
{% endblock extrahead %}


{% block content %}
<nav class="navbar navbar-dark bg-primary" style="margin-top: 25px;margin-bottom: 25px;">
    <a class="navbar-brand" href="#">Belt Exam</a>
</nav>

<form method="POST" action="{% url 'belt_exam' %}">
    {% csrf_token %}
    <div class="row form-group">
        <div class="col-md-6">
            <label for="id_exam_date">Exam Date:</label>
            <input type="date" id="id_exam_date" name="exam_date" required>
        </div>
        <div class="col-md-6">
            <label for="id_exam_time">Exam Date:</label>
            <input type="time" id="id_exam_time" name="exam_time" required>
        </div>
    </div>
    {% render_table students_table %}
    <button type="submit" class="btn btn-primary">Increase Belt</button>
</form>

{% endblock content %}