{% extends 'base.html' %}
{% load static %}
{% block content %}

<nav class="navbar">
    <h1>Car Edit</h1>
</nav>
<div class="row">
    <div class="col-md-4">
        <form method="post">
           
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field.errors }}
                {{ field }}
                {{ field.help_text }}
            </div>
            {% endfor %}
            <nav class="navbar">
                <div class="ml-auto btn-toolbar">
                    <button id="id_btn_submit" type="submit" class="btn btn-primary float-right">Submit</button>
                </div>
            </nav>
        </form>
    </div>
</div>
{% endblock content %}