{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load static %}

{% block extrahead %}
<script>
$(document).ready(function() {
    $('#income_table').DataTable();
} );
</script>
{% endblock extrahead %}


{% block content %}
<nav class="navbar navbar-dark bg-primary" style="margin-top: 25px;margin-bottom: 25px;">
    <a class="navbar-brand" href="#">Income</a>
</nav>

{% render_table income_table %}

<div class="row">
    <div class="col-md-2">
        <a class="btn btn-primary"  href="{% url 'income_add' %}">Add</a>
    </div>
</div>


{% endblock content %}